<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DaiList</title>
        <link rel="stylesheet" href="style.css" />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
            integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="container">
            <div class="container-content">
                <header>
                    <nav>
                        <img
                            class="img_menu"
                            src="../../img/open-menu.svg"
                            alt=""
                        />
                    </nav>
                    <span class="logo">DAILIST</span>
                </header>
                <main class="content">
                    <img src="../../img//NoteList.svg" />
                </main>
                <footer>
                    <div class="icon-plus">
                        <i class="fas fa-plus-circle fa-5x"></i>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
